@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "capitana", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: transform 0.3s ease;
}

.header.hide {
  transform: translateY(-100%);
}

.header.show {
  transform: translateY(0);
}

.order .ant-table-wrapper {
  width: 100%;
}

/* Fix slick với Tailwind */
.our-recommandation .slick-track {
  width: auto !important;
}
